.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: black;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color:blue;
  text-decoration: none;
  padding: 5px;
}

.inputBox{
  padding: 7px;
  display: block;
  border: 1px solid black;
  width: 300px;
  margin: 20px;
}

.appButton{
  margin: 20px;
  width: 150px;
  padding: 10px;
  background: #3f3fb2;
  border: solid 2px;
  cursor: pointer;
  color: white;
}

.nav-right{
  text-align: right;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.register {
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  background: black;
  color: blue;
  width: 100%;
  text-align: center;
  padding: 10px;
}