html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  background-image: url('./components/images/blackandwhite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(168, 168, 179);
}
.artist{
  color: black;
  font-family: 'Skranji', cursive;
}

.aboutpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  width: 75%;
  max-width: 800px;
  text-align: center;
}

.about-card {
  width: 100%;
}

.about-card img {
  width: 100%;
}



.title{
  font-family: 'Skranji', cursive;
  text-align: center;
  color: rgb(168, 168, 179);
  padding: 40px;
  text-shadow: 4px 4px 2px black;
  
}

.checkout {
  font-family: 'Skranji', cursive;
  text-align: center;
  margin: 10px;
  font-size: 2em;
  color: rgb(168, 168, 179);
  text-shadow: 4px 4px 2px black;
  animation: slide 2s infinite; 
  
  
}


/* Define the keyframes animation */
@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
}

/* Apply the animation to an element */
.slide-element {
  animation: slide 2s infinite;
}


.contact {
  font-family: 'Skranji', cursive;
  color: white;
  background-color: black;
  opacity: 0.8; 
  height: 80%;
  
}

.contactme{
  padding: 20px;
}

.caption{
  color: white;
  margin-top: 20%;
  font-family: 'Skranji', cursive;
  background-color: black;
  width: fit-content;
  margin-left: 43%;
  margin-bottom: 2%;
}

.captiontitle{
  color: white;
  font-family: 'Skranji', cursive;
  
  margin-bottom: 28%;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: black;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
  font-family: 'Skranji', cursive;

}

.nav-ul li a {
  color: rgb(224, 212, 212);
  text-decoration: none;
  padding: 5px;
}

.inputBox{
  padding: 7px;
  display: block;
  border: 1px solid rgb(168, 168, 179);
  width: 300px;
  margin: 20px;
}

.appButton{
  margin: 20px;
  width: 150px;
  padding: 10px;
  background: #3f3fb2;
  border: solid 2px;
  cursor: pointer;
  color: white;
}

.nav-right{
  text-align: right;
}

.navbar-home{
  float: left;
  margin: 13px;
  
}
.navbar-home a{
  
  font-family: 'Skranji', cursive;
  text-decoration: none;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.register {
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.contact___form .form-control {
  padding: 1.375rem .75rem;
  line-height: 1.5;
  
  background-color: white;
  border-radius: 0 !important;
  border: 1px solid rgb(5, 5, 5)
}

.contact___form input.form-control{
  margin-bottom: 2em;
  height: calc(2.5em + .75rem + 2px);

}

.ac_btn{

  background-color: white;
border: 1px solid blue;
border-radius: 4px;
padding: 5px 16px 5px 16px;

}

.ac_btn:hover{
  color: blue;
}

.footer {
  position: absolute;
  bottom: 0;
  background: black;
  color: rgb(168, 168, 179);
  width: 100%;
  text-align: center;
  padding: 10px;
}